<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>독후감상문 회원가입</title>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main>
    <form>
        <h2 class="title">회원가입</h2>
        <label>
            <span hidden>이메일 주소</span>
            <input autofocus maxlength="50" name="email" placeholder="이메일 주소" type="email">
        </label>
        <label>
            <span hidden>비밀번호</span>
            <input maxlength="50" name="password" placeholder="비밀번호(8자~50자, 영문, 숫자 및 특수문자 사용가능." type="password">
        </label>
        <label>
            <span hidden>비밀번호 재입력</span>
            <input maxlength="50" name="passwordCheck" placeholder="비밀번호 재입력" type="password">
        </label>
        <label>
            <span hidden>이름</span>
            <input maxlength="5" name="name" placeholder="이름" type="text">
        </label>
        <label>
            <span hidden>연락처</span>
            <input maxlength="12" name="contact" placeholder="연락처 ( - 없이 입력해주세요.)" type="text">
            <input name="contactAuthSalt" type="hidden">
            <input class="_object-button" name="contactAuthRequestButton" type="button" value="인증번호 요청" data-func="requestContactAuthCode">
        </label>
        <label>
            <span hidden>연락처 인증번호</span>
            <input class="_object-input input" disabled maxlength="6" name="contactAuthCode" placeholder="인증번호" type="text">
            <input class="_object-button" disabled name="contactAuthCheckButton" type="button" value="인증번호 확인" data-func="checkContactAuthCode">
        </label>
    </form>
</main>
</body>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</html>